
# Desc: Player sample configuration file for controlling Stage devices

# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "hokuyo3.world"	
)

# uses REAL laser
#driver
#(
#	name "hokuyo"
#	provides ["ranger:0"]
#	portopts "type=serial,device=/dev/ttyACM0,timeout=2"
#)

#driver
#(
#  name "rangertolaser"
#  requires ["ranger:0"] # read from ranger:0
#  provides ["laser:0"] # output results on laser:0
#)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "r0"
driver
( 
  name "stage"
  provides [ "position2d:0" "laser:0" "speech:0" "graphics2d:0" "graphics3d:0" ]
  model "r0" 
)


